body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
h1{
    margin-top:10px;
    font-family: 'montserrat', Courier, monospace;
    font-size:300px;
}
.nonclicked{
    margin: 20px;
    height:100px;
    width:200px;
    font-size: 40px;
}
.input{
    margin:5px;
    height:100px;
    width:200px;
}
img{
    height:1080px;
    width:auto;
    border-radius:50px;
}
.table{
   border:solid;
   border-radius: 5px;
   background-color: aquamarine;
}
.select{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:40px;
}